meta(property="og:type" content="website")
meta(property="og:title" content="marcos ferreira")
meta(property="og:image" content="~@/images/me.jpg")
meta(property="og:description" content="fullstack developer that is more devops than design")
meta(property="og:site_name" content="marcos ferreira")
