meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="@mractos")
meta(name="twitter:url" content="https://mracos.github.io")
meta(name="twitter:title" content="Marcos Ferreira")
meta(name="twitter:description" content="fullstack developer that is more devops than design")
meta(name="twitter:image" content="~@/images/me.jpg")
