meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="@mractos")
meta(name="twitter:url" content="https://mracos.github.io")
meta(name="twitter:title" content="marcos")
meta(name="twitter:description" content=description)
