- var description = "0.5x engineer without CREA"
- var main_color = '#6639a6'

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="i3=edge" http-equiv="x-ua-compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="index,follow")
    meta(name="msapplication-config" content="/browserconfig.xml")
    link(rel="manifest" href="~@/site.webmanifest")

    meta(name="theme-color" content="#{main_color}")
    meta(name="msapplication-TileColor" content="#{main_color}")

    include pug/meta/favicon.pug
    include pug/meta/facebook.pug
    include pug/meta/twitter.pug

    title.
      marcos - #{description}
  body
    main
      h1 hi, I'm marcos
      p a #{description}
      div.
        #[a(target="_blank" href="//linkedin.com/in/mracos") linkedin]
        - #[a(target="_blank" href="//github.com/mracos") github]
        - #[a(target="_blank" href="//gitlab.com/mracos") gitlab]
      p.
        this website is powered by
        #[a(target="_blank" href="//github.com/mracos/mracos.github.io") shiny web scaled event source DDD microservices]
            &trade;
