doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="i3=edge" http-equiv="x-ua-compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title.
      marcos ferreira
  body
    main(class="main")
      img(class="main__photo" src="~@/images/me.jpg")
      div(class="main-bio")
        h1(class="main-bio__name") Marcos Ferreira
        h4 always learning and breaking things, (more building than breaking tho).
        div(class="main-bio__mini-bio")
          p.
            I'm a fullstack developer based in
            #[a(href="") Belém/PA - Brasil].
          p.
            With experience on all the (full) stack (from SASS to Docker), I prefer to work with backend and ops.
            Currently interested in: Elixir/Erlang, Ruby.
          p.
            I love open source (and is something i'm always trying to do more), you can check some half-assed projects and some useless things (or not) on my #[a(href="") github] or #[a(href="") gitlab]
          p.
            Currently working remote (yay! remote ftw) mostly with front-end (javascript, vuejs and sass) but also using phoenix/elixir and ruby on rails.
            You can check what i'm coding on #[a(href="") wakatime] (not all the work is coding tho).
          p.
            If you rather see what i have done, you can check my #[a(href="") resume].
          p.
            Something to say? #[a(href="") mailme]
        p(class="main__disclaimer") Now with the web standards &trade; like sass, pub and webpack :)


    script(type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer)
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA--115754396-1', 'auto');
      ga('send', 'pageview');
