doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="i3=edge" http-equiv="x-ua-compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" sizes="180x180" href="~@/images/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="~@/images/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="~@/images/favicons/favicon-16x16.png")
    link(rel="manifest" href="~@/site.webmanifest")
    link(rel="mask-icon" href="~@/images/favicons/safari-pinned-tab.svg" color="#6639a6")
    link(rel="shortcut icon" href="~@/images/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#603cba")
    meta(name="msapplication-config" content="/browserconfig.xml")
    meta(name="theme-color" content="#6639a6")

    meta(name="robots" content="index,follow")
    meta(property="og:type" content="website")
    meta(property="og:title" content="marcos ferreira")
    meta(property="og:image" content="/favicon.ico")
    meta(property="og:description" content="fullstack developer that is more devops than design")
    meta(property="og:site_name" content="marcos ferreira")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:creator" content="@cactomarcos")
    meta(name="twitter:url" content="https://mracos.me")
    meta(name="twitter:title" content="Content Title")
    meta(name="twitter:description" content="fullstack developer that is more devops than design")
    meta(name="twitter:image" content="/favicon.ico")
    title.
      marcos ferreira
  body
    div.container
      header.header
        h1.header__name hi, I'm marcos ferreira
        p.header__motto.
            fullstack developer that is more devops than designer
      main.main
        img.main__photo(src="~@/images/me.jpg")
        div.main__bio
          p
            abbr.header__sub-motto(title="more learning than breaking tho :)")
              em always learning and breaking things.
          p.
            i'm a software developer based in
            #[a(href="//pt.wikipedia.org/wiki/Bel%C3%A9m_(Par%C3%A1)") Belém/PA - Brasil].
            currently interested in: #[b Elixir], #[b Ruby] and #[b DevOps] related things.
          p.
            with experience on all the web stack (from #[em javascript] to #[em ansible]),
            i rather work with backend though :).
          p.
            i love open source (and is something i'm always trying to do more),
            you can check some half-assed projects, some useless things #[del or not] and maybe some contributions
            on my #[a(href="//github.com/mracos") github]
            or even #[a(href="//gitlab.com/mracos") gitlab]
          p.
            currently working remote with
            #[b javascript (vuejs)], #[b elixir (phoenix)] and #[b ruby (on rails)].
          p.
            you can check what I've been coding these times on
            #[a(href="//wakatime.com/mracos") wakatime],
            if you rather see what I've been doing,
            you can get my #[a(href="//resume.mracos.me") resume].
          p.
          p.
            got something to say? #[a(href="mailto:marcosp4f@gmail.com") send a nice cat gif pls]
      footer.footer
        p.
         this website is powered by
          #[abbr(title="like sass, pub, webpack (and thank god no js)") shiny web technologies]
          &trade;
        p check it on #[a(href="//github.com/mracos/mracos.github.io") github]


    if NODE_ENV == 'production'
      script(type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer)
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA--115754396-1', 'auto');
        ga('send', 'pageview');
