doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="i3=edge" http-equiv="x-ua-compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" sizes="180x180" href="~@/images/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="~@/images/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="~@/images/favicons/favicon-16x16.png")
    link(rel="manifest" href="~@/site.webmanifest")
    link(rel="mask-icon" href="~@/images/favicons/safari-pinned-tab.svg" color="#6639a6")
    link(rel="shortcut icon" href="~@/images/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#603cba")
    meta(name="msapplication-config" content="/browserconfig.xml")
    meta(name="theme-color" content="#6639a6")

    meta(name="robots" content="index,follow")
    meta(property="og:type" content="website")
    meta(property="og:title" content="marcos ferreira")
    meta(property="og:image" content="/images/me.jpg")
    meta(property="og:description" content="fullstack developer that is more devops than design")
    meta(property="og:site_name" content="marcos ferreira")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:creator" content="@cactomarcos")
    meta(name="twitter:url" content="https://mracos.me")
    meta(name="twitter:title" content="Content Title")
    meta(name="twitter:description" content="fullstack developer that is more devops than design")
    meta(name="twitter:image" content="/images/me.jpg")
    title.
      marcos ferreira
  body
    div(class="container")
      header(class="header")
        h1(class="header__name") hi, I'm marcos ferreira
        p(class="header__motto").
          fullstack developer that is always learning and breaking things.
        span(class="header__sub-motto") more learning than breaking tho :)
      main(class="main")
        img(class="main__photo" src="~@/images/me.jpg")
      footer(class="footer")
        p this website is powered by shiny web technologies &trade;
        p check it on #[a(href="//github.com/mracos/mracos.github.io") github]

    script(type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer)
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA--115754396-1', 'auto');
      ga('send', 'pageview');
