doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="i3=edge" http-equiv="x-ua-compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title.
      marcos ferreira
  body
    div(class="container")
      header(class="header")
        h1(class="header__name") hi, I'm marcos ferreira
        p(class="header__motto").
          fullstack developer that is always learning and breaking things.
        span(class="header__sub-motto") more learning than breaking tho :)
      main(class="main")
        img(class="main__photo" src="~@/images/me.jpg")
      footer(class="footer")
        p this website is powered by shiny web technologies &trade;
        p check it on #[a(href="//github.com/mracos/mracos.github.io") github]

    script(type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer)
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA--115754396-1', 'auto');
      ga('send', 'pageview');
